body {
  background: #f0e9b3;
  font-family: 'Manrope';
}

.container {
  position: relative;
  max-width: 1024px;
  padding: 30px;
  margin: 0 auto;
}

a {
  color: inherit;
}
/* COLORS */

.app {
  padding: 20px;
}

/* S T A R T */

.btn-start {
  font-size: 35px;
  line-height: 0.5;
}

/* FORM */

.btn-add {
  border-radius: 5px;
  font-size: 16px;
  border: 1px solid;
  padding: 0 5px;
}

.form {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
}

.inp {
  border: 1px solid black;
  border-radius: 5px;
  width: 300px;
  padding: 0 5px;
}

.project,
.task,
.item,
.sub-item,
.sub-sub-item {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;

  font-size: 1rem;
  font-weight: 600;
  line-height: 1.4;
  font-style: italic;
}

.task {
  font-size: 0.9rem;
}

.item,
.sub-item,
.sub-sub-item {
  font-size: 0.8rem;
}

.btn-has-child {
  position: absolute;
  left: -20px;
  color: Gray;
  user-select: none;
}

.project-title {
  color: #c4684c;
  font-style: normal;
  font-weight: 800;
  text-decoration: underline;
}
.project-title,
.task-title,
.item-title {
  cursor: pointer;
}

.list {
  display: none;
  margin-left: 20px;
}
.list.open {
  display: block;
}

.list::first-child {
  display: block;
}

.btn-has-child {
  transition: all 0.2s ease-in;
}

.checked {
  color: #b4b4b4 !important;
  font-weight: 100;
  font-size: 0.9rem;
}
.date {
  font-size: 12px;
  color: gray;
  font-style: normal;
  font-weight: 100;
}

.a-json {
  font-size: 10px;
  cursor: pointer;
  user-select: none;
}
.json.active {
  background-color: aquamarine;
  padding: 15px;
  border-radius: 15px;
}
.btn-json {
  margin-bottom: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 16px;
}
.backup,
.btn-download,
.btn-copy,
.btn-clear {
  display: block;
  width: fit-content;
  border: 1px solid black;
  border-radius: 5px;
  padding: 1px 10px;
  user-select: none;
  font-size: 10px;
}

.backup-wrapper {
  position: absolute;
  top: 25px;
  right: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.backup {
  position: relative;
  display: block;
  cursor: pointer;
  text-align: center;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.32px;
  /* text-transform: uppercase; */
  margin: 0 0 8px;
}
.label-file {
  position: relative;
}
.input-file {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}

.btn-copy.copied {
  background-color: green;
  color: yellow;
}

@media (max-width: 1024px) {
  .container {
    max-width: 1024px;
    padding: 15px;
    margin: 0 auto;
  }
}

/* todo */
i {
  color: gray;
  font-weight: 100;
}
